h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 48px;
    
}
ul {
    background-color: orange;
  }
  ul li button{
    margin: 12px;
    padding: 12px;
    border: 6px red;
    background-color: green;
    color: white;
  }