h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 68px;
    border: 4px solid black ;
    height: 80px;
}
.contain{
  display: flex;
  flex-direction: column;
}
.contain div{
  flex:1 1 auto;
  text-align: center;
  margin: 5px;
  background-color: green;
  border: 4px solid black ;


}.contain div button{
  background-color: green;
  border: 8px black ;
  text-align: center;
  /*height: 100px;*/
  margin: 5px;
  font-size: 48px;
  color: white;
}
*{
  
}